header{
    position:fixed;
    top:0;
    right: 0;
    width:100%;
    height:80px;
    display:flex;
    justify-content:end;
    align-items:center;
    padding:0 70px;
    backdrop-filter:blur(10px);
    background:rgba(8,10,15,.55);
    border-bottom:1px solid rgba(255,255,255,.08);
    z-index:1000;
}

nav a{
    color:#d8d8d8;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:2px;
    position:relative;
    transition:.3s;
}

nav a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:1px;
    background:#b22222;
    transition:.3s;
}

nav a:hover{
    color:white;
}

nav a:hover::after{
    width:100%;
}